/* NAVBAR */

.navbar {
  font-size: 140%;
  font-family: 'Concert One', cursive;
  display: flex;
  background-color: black;
  color: while;
}

.navbar a {
  color: beige;
}

.navbar a:hover {
  text-decoration-line: underline;
  color: white;
  padding-top: 5%;
}

.navlabel {
  display: flex;
  flex: 1;
  width: .5%;
}

.icondiv {
  flex-basis: 4%;
}

.mainicon {
  height: 100%;
  width: 100%;
}


body{
  background-image: url("../material/pics/aboutusBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* WEBSITE INFO */
.websiteinfo {
  font-family: 'Nunito', sans-serif;
  display: flex;
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  /* margin-bottom: 5%; */
}

.com {
  width: 100%;
  height: 100%;
}

.webpicdiv {
  display: flex;
  width: 100%;
  height: 100%;
}

.webpic {
  height: 40%;
  width: 40%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
}

.webtext {
  display:  flex;
  padding-left: 10%;
  color: white;
}

.webiconsdiv {
  display: flex;
  margin-left: 5%;
  margin-top: 1.5%;
}

.webicons {
  height: 10%;
  width: 150%;
  margin-top: 8%;
}

.webicon {
  margin: 2% 2% 5% 2%;
  padding: 3%;
  height: 40%;
  width: 40%;
}

/* PINFO */
.pinfo {
  display :flex;
  width: 80%;
  margin-left: 10%;
}

.person {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 5%;
}

.iconsdiv {
  display: flex;
  justify-content:space-around;
  padding-left: 15%;
  padding-right: 20%;
}

.icons {
  padding: 8% 5% 0% 5%;
  height: 100%;
  width: 50%;
}

.icon {
  height: 100%;
  width: 50%;
}

.pic {
  border-radius: 10%;
  height: 100%;
  width: 100%;
}

.ptext {
  display: flex;
  padding: 5% 10%;
  color: #bf1515;
  font-size: 120%;
}

.picdiv {
  display: flex;
  height: 60%;
  width: 60%;
  margin-left: 15%;
  padding-left: 5%;
  justify-content:space-around;
}


/* HEADING */
h1 {
  font-family: 'Concert One', cursive;
  text-align: center;
  color: red;
}

.heading {
  padding-top: 8%;
  padding-bottom: 5%;
}

/* FOOTER */

.footer {
  font-family: 'Concert One', cursive;
  clear: both;
  height: 15%;
  text-align: center;
  background-color: black;
  color: white;
}

.footer h1 {
  padding: 1%;
}

/* FEEDBACK */
.feedbackdiv {
  width: 70%;
  margin-left: 15%;
}

.feedbackform {
  font-size: 120%;
  font-family: 'Nunito', sans-serif;
}

.eachlabel {
  display: flex;
  padding-bottom: 3%;
}

.question {
  font-weight: bold;
  width: 25%;
  text-shadow: 2px 2px 2px white;
  margin-right: 5%;
}

input[type=text], textarea, input[type=email], input[type=submit] {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  width: 150%;
  height: 150%;
  padding-left: 5%;
  background-color: #e5b400;
}

.submit {
  margin : 3% 0% -5% 10%;
  
}

input[type=submit] {
  border: 2px solid white;
  color: white;
  font-weight: bold;
}