/* NAVBAR */

.mainicon {
  height: 100%;
  width: 100%;
  margin: .5% 1%;
}

.aboutus {
  margin-left: 40%;
}

span a {
  color: black;
}

span a:hover {
  color: red;
}

.iconspam {
  height: 3%;
  width: 3%;
}

.navbar {
  background-color: darkgray;
}

/* .drop {
  color: red;
  background-color: black;
} */

select {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  /* background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd; */
  /* -webkit-appearance: scrollbarbutton-down; */
  /* background-position-x: 244px; */

}