{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/schoolsList.css' %}">

<div class="heading">
  <p>Schools</p>
</div>
<section class="colleges">
  {% if schoolList %}
    {% for school in schoolList %}
      <div class="college">
        <div class="collegepic">
          {% if school.image %}
            <img class="pic" src="{% static 'material/pics/teacher.png' %}">
          {% else %}
            <img class="pic" src="{% static 'material/pics/teacher.png' %}">
          {% endif %}
          </div>
        <div class="collegetext ">
          <div class="cname textdiv">
          <span class="lhead">Name</span><strong class="colon">:</strong>{{school.name}}
          </div>
          <div class="cplace textdiv">
            <span class="lhead">Loaction</span><strong class="colon">:</strong>{{school.location}}
          </div>
          <div class="cplace textdiv">
            <span class="lhead">Founded</span><strong class="colon">:</strong>{{school.founded}}
          </div>
          <div class="cplace textdiv">
            <span class="lhead">Type</span><strong class="colon">:</strong>{{school.types}}
          </div>
          <div class="cplace textdiv">
            <span class="lhead">Website</span><strong class="colon">:</strong>{{school.website}}
          </div>
          <div class="cplace textdiv">
            <span class="lhead">Contact No.</span><strong class="colon">:</strong>{{school.phone}}
          </div>
          <div class="cplace textdiv">
            <span class="lhead">Description</span><strong class="colon">:</strong>{{school.describe}}
          </div>
          <!-- <div class="cteachers ">
            <span class="lhead"><a class="tlink" href="{% url 'school' %}">Know more about school</a> </span>
          </div> -->
        </div>  
      </div>
    {% endfor %}
  {% else %}
    <div>
      <p>No School's Right now</p>
    </div>
  {% endif %}

  <!-- <div class="college">
    <div class="collegepic">
      <img class="pic" src="{% static '/material/pics/teacher.png' %}">
    </div>
    <div class="collegetext ">
      <div class="cname textdiv">
      <span class="lhead">Name</span><strong class="colon">:</strong>Lorem ipsum
      </div>
      <div class="cplace textdiv">
        <span class="lhead">Loaction</span><strong class="colon">:</strong>Lorem ipsum
      </div>
      <div class="cplace textdiv">
        <span class="lhead">Founded</span><strong class="colon">:</strong>2000
      </div>
      <div class="cteachers ">
        <span class="lhead"><a class="tlink" href="{% url 'school' %}">Know more about school</a> </span>
      </div>
    </div>  
  </div> -->
</section>

{% endblock %}