
/* NAVBAR */

.navbar {
  font-size: 140%;
  font-family: 'Concert One', cursive;
  display: flex;
  background-color: black;
  color: while;
}

.navbar a {
  color: beige;
}

.navbar a:hover {
  text-decoration-line: underline;
  color: white;
  padding-top: 5%;
}

.navlabel {
  display: flex;
  flex: 1;
  width: .5%;
}

.icondiv {
  flex-basis: 4%;
}

.mainicon {
  height: 100%;
  width: 100%;
}

/* LOGIN  */

.signinsec {
  display: flex;
  background: linear-gradient(to top, #8DC26F, #76b852);
  justify-content: center;
  text-align: center;
}

.singnindiv {
  display: flex;
  flex-direction: column;
  border: 2px solid #379c01;
  margin: 5% 5% 13% 5%;
  /* padding-right: 25%; */
  justify-content: center;
  align-content: center;
  width: 20%;
  /* padding: 5% 5 */
}

.boxes {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}


input[type="text"], input[type="password"], input[type="submit"] {
  background: linear-gradient(to top, #76b852, #8DC26F);
  border: 0px;
  font-size: 120%;
  width: 80%;
  padding: 5%;
  margin: 10% 5%;
}

input[type="submit"] {
  margin-bottom: 15%;
}

.link {
  color: black;
  font-weight: bold;
  text-decoration-line: underline;
}

.register {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
} 





/* FOOTER */

.footer {
  font-family: 'Concert One', cursive;
  clear: both;
  height: 15%;
  text-align: center;
  background-color: black;
  color: white;
}

.footer h1 {
  padding: 1%;
}