{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PraiseMyGuru</title>

</head>
<body>
<link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'material/bootstrap-4.3.1-dist/css/bootstrap.css' %}">
  
{% include 'partials/__navbar.html' %}


{% block content %}
{% endblock %}

{% include 'partials/__footer.html' %}

<script src="{% static './material/jquery.js' %}"></script>
<script src="{% static './material/bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
<script scr="{% static './index.js' %}"></script>
</body>
</html>