{% load static %}

<section class="navbar">
  <div class="icondiv ">
    <a href="{% url 'home' %}">
      <img src="{% static '/material/pics/mainIcon.png' %}" alt="mainiconguru" class="mainicon navlabel">      
    </a>
  </div>
  <div class=" navlabel" ><a href="{% url 'home' %}">Praise My Guru</a> </div>
  <div class=" navlabel" ><a href="{% url 'collegesList' %}">Colleges</a> </div>
  <div class=" navlabel" ><a href="{% url 'schoolsList' %}">Schools</a> </div>
  <div class=" navlabel" ><a href="{% url 'praiseTeacher' %}">Praise Here!!</a> </div>
  <div class=" navlabel" ><a href="{% url 'addTeacher' %}">Add your Guru</a> </div>
  <div class=" navlabel" ><a href="{% url 'aboutus' %}">About Us</a></div>
  <div class=" navlabel" ><a href="{% url 'signin' %}">Register / LogIn</a></div>  
</section>