
/* NAVBAR */

.mainIcon {
  margin: 0 1% 0 .5%;
  border: 2% solid black;
} 

#navIcon {
  height: 50px;
  width: 50px;
}

.mynavoptions {
  padding-right: 65%;
}


/* COVER */
.coverpic {
  position: relative;
  height: 100%;
  width: 100%;
}
.covertext {
  position: absolute;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  top: 40%;
  left: 15%;
}
.form-control {
  background-color: black;
  /* width: 100%; */
}

.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
  width: 230px;
  border-top: 0%;
  border-color: yellow;
  width: 100%;
  height: 40px;
}

.searchtext {
  color: black;
}

/* ACHIVEMENTS */

.div4 {
  float: left;
  padding: 2% 2%;
  margin: 2% 2%;
  border: 2px solid black;
  width: 20%;
}


/* TOP RATED */
.div3 {
  float: left;
  padding: 2% 2%;
  margin: 2% 2%;
  width: 25%;
}

.topteacher {
  height: 100%;
  width: 100%;
}

.toprated{
  clear:both;
}


/* REMARKS */
.remarks {
  clear: both;
}

.div2 {
  float: left;
  padding: 2%;
  margin: 2%;
  width: 40%;
}

.remarkteacher {
  height: 100%;
  width: 50%;
  margin: 0% 0% 3% 20%;
  border-radius: 50%;
}


/* ABOUT US */
.aboutus {
  clear: both;
  width: 100%
}

.aboutpics {
  float: left;
  width: 25%;
}

.aboutpic {
  height: 80%;
  width: 80%;
  padding: 0% 10% 5% 20%;
  border-radius: 20%;
}

.abouttext {
  float: right;
  width: 60%;
  padding: 2% 10% 2% 0%;
}

.linkset1 {
  float: right;
  padding-top: 8%;  
}

.gmail {
  height: 50px;
  width: 50px;
  padding-bottom: 12%;
}
.facebook {
  height: 50px;
  width: 50px;
  padding-bottom: 12%;
}
.github {
  height: 50px;
  width: 50px;
  padding-bottom: 12%;
}
.twitter {
  height: 50px;
  width: 50px;
  padding-bottom: 12%;
}

/* FOOTER */
.footer {
  clear: both;
  height: 10%;
  text-align: center;
  background-color: black;
  color: white;
}
