/* NAVBAR */

.navbar {
  font-size: 140%;
  font-family: 'Concert One', cursive;
  display: flex;
  background-color: black;
  color: while;
}

.navbar a {
  color: beige;
}

.navbar a:hover {
  text-decoration-line: underline;
  color: white;
  padding-top: 5%;
}

.navlabel {
  display: flex;
  flex: 1;
  width: .5%;
}

.icondiv {
  flex-basis: 4%;
}

.mainicon {
  height: 100%;
  width: 100%;
}



/* FORM */

.signupsec {
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #76b852, #8DC26F);
}

.signupdiv {
  display: flex;
  font-family: 'Nunito', sans-serif;
  align-content: center;
  border: 2px solid #379c01;
  justify-content: center;
  flex-direction: column;
  margin: 8%;
}

.heading {
  font-size: 250%;
  font-weight: bold;
  color: white;
  padding: 5% 8% 8% 8%;
}

.signupfields {
  display: flex;
  flex-direction: column;
}

.flabel {
  padding: 3% 10%;

}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
  background: linear-gradient(to top, #76b852, #8DC26F);
  border: 0px;
  width: 100%;
  padding-left: 5%;
  font-size: 150%;
}

input[type="radio"], input[type="checkbox"] {
  margin: 5%;
}

.already {
  display: flex;
  justify-content: center;
  /* padding-left: 10%; */
  padding-top: 3%;
  padding-bottom: 3%;
}

.link {
  color: black;
  font-weight: bold;
  text-decoration-line: underline;
}


/* FOOTER */

.footer {
  font-family: 'Concert One', cursive;
  clear: both;
  height: 15%;
  text-align: center;
  background-color: black;
  color: white;
}

.footer h1 {
  padding: 1%;
}