{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/collegesList.css' %}">

<div class="heading">
  <p>Colleges</p>
</div>
<section class="colleges">

  {% if collegeList %}
    {% for college in collegeList %}
      <div class="college">
        <div class="collegepic">
          {% if guru.image %}
            <img class="pic" src="{% static 'material/pics/teacher.png' %}">
          {% else %}
            <img class="pic" src="{% static 'material/pics/teacher.png' %}">
          {% endif %}
          </div>
        <div class="collegetext ">
          <div class="cname textdiv">
          <span class="lhead">Name</span><strong class="colon">:</strong>{{college.name}}
          </div>
          <div class="cplace textdiv">
            <span class="lhead">Loaction</span><strong class="colon">:</strong>{{college.location}}
          </div>
          <div class="cplace textdiv">
            <span class="lhead">Founded</span><strong class="colon">:</strong>{{college.founded}}
          </div>
          <div class="cteachers ">
            <span class="lhead"><a class="tlink" href="{% url 'college' %}">Know more about college</a> </span>
          </div>
        </div>  
      </div>
    {% endfor %}
  {% else %}
    <div>
      <p>No College's Right now</p>
    </div>
  {% endif %}
  <!-- <div class="college">
    <div class="collegepic">
      <img class="pic" src="{% static 'material/pics/teacher.png' %}">
    </div>
    <div class="collegetext ">
      <div class="cname textdiv">
      <span class="lhead">Name</span><strong class="colon">:</strong>Lorem ipsum
      </div>
      <div class="cplace textdiv">
        <span class="lhead">Loaction</span><strong class="colon">:</strong>Lorem ipsum
      </div>
      <div class="cplace textdiv">
        <span class="lhead">Founded</span><strong class="colon">:</strong>2000
      </div>
      <div class="cteachers ">
        <span class="lhead"><a class="tlink" href="{% url 'college' %}">Know more about college</a> </span>
      </div>
    </div> 
  </div> -->
</section>  

{% endblock %}