{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/teachersList.css' %}">

<div class="heading">
  <p>Guru's</p>
</div>
<section class="colleges">

  {% if gurusList %}
    {% for guru in gurusList %}
    <div class="college">
        <div class="collegepic">
          {% if guru.image %}
            <img class="pic" src="{{ guru.image.url }}">
          {% else %}
          <img class="pic" src="{% static 'material/pics/teacher.png' %}">
          {% endif %}
        </div>
        <div class="collegetext ">
          <div class="cname textdiv">
          <span class="lhead">Name</span><strong class="colon">:</strong>{{guru.firstName}}
          </div>
          <div class="cplace textdiv">
            <span class="lhead">Institute</span><strong class="colon">:</strong>{{guru.institute}}
          </div>
          <div class="cplace textdiv">
            <span class="lhead">Overall</span><strong class="colon">:</strong>4.7
          </div>
          <div class="cteachers ">
            <span class="lhead"><a class="tlink" href="{% url 'guru' 1 %}">Know more about guru</a> </span>
          </div>
          <div class="cteachers ">
            <span class="lhead"><a class="tlink" href="{% url 'praiseGuru' 2 %}">Haven't praise? Praise Here!!</a> </span>
          </div>
        </div>  
      </div>
    {% endfor %}
  {% else %}
    <div>
      <p>No Guru's Right now</p>
    </div>
  {% endif %}

</section>  

{% endblock %}