{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/praise.css' %}">

<div class="heading">Praise Your Guru!!</div>
<section class="rating">
  <div class="teacherpicdiv">
    <img class="teacherpic" src="{% static 'material/pics/teacher.png' %}">
  </div>
  <div class="formoutline">
    <p>Lorem ipsum dolor sit amet</p>
  
    <div class="teacherform">
      <div class="fieldform">
        <div class="tlabel">
          <label for="worthlisten">Worth Listening</label>
        </div>
        <div class="tinput">
          <input type="range" class="range" name="worthlisten" min="0" max="10">
        </div>
      </div>

      <div class="fieldform">
        <div class="tlabel">
          <label for="star">Stars</label>
        </div>
        <div class="tinput">
          <div class="starradio"><input type="radio" name="star" value="5"><img class="staricon" src="{% static 'material/pics/star.png' %}"><img class="staricon" src="{% static 'material/pics/star.png' %}"><img class="staricon" src="{% static 'material/pics/star.png' %}"><img class="staricon" src="{% static 'material/pics/star.png' %}"><img class="staricon" src="{% static 'material/pics/star.png' %}"></div>
          <div class="starradio"><input type="radio" name="star" value="4"><img class="staricon" src="{% static 'material/pics/star.png' %}"><img class="staricon" src="{% static 'material/pics/star.png' %}"><img class="staricon" src="{% static 'material/pics/star.png' %}"><img class="staricon" src="{% static 'material/pics/star.png' %}"></div>
          <div class="starradio"><input type="radio" name="star" value="3"><img class="staricon" src="{% static 'material/pics/star.png' %}"><img class="staricon" src="{% static 'material/pics/star.png' %}"><img class="staricon" src="{% static 'material/pics/star.png' %}"></div>
          <div class="starradio"><input type="radio" name="star" value="2"><img class="staricon" src="{% static 'material/pics/star.png' %}"><img class="staricon" src="{% static 'material/pics/star.png' %}"></div>
          <div class="starradio"><input type="radio" name="star" value="1"><img class="staricon" src="{% static 'material/pics/star.png' %}"></div>
        </div>
      </div>

      <div class="fieldform">
        <div class="tlabel">
          <label for="subject">Which subject you have learnt from your Guru?</label>
        </div>
        <div class="tinput">
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="civil">Civil</div>  
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="se">Software Enggineering</div>  
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="co">Computer Organization</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="algorthiums">Algorithums</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="ds">Data Structures</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="c">C</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="math">Mathematics</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="physics">Physics</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="chemistry">Chemistry</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="mechnical">Mechnical</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="electrical">Electrical</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="electronics">Electronics</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="atc">AT&C</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="advjava">Java</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="cn">Networking</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="management">Management for IT</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="dotnet">Dot Net</div>
          <div class="subjectscheckbox"><input type="checkbox" name="subjects" class="sub" value="dbms">DBMS</div>
        </div>
      </div>

      <div class="fieldform">
        <div class="tlabel">
          <label for="tags">Tags which best describe your Guru</label>
        </div>
        <div class="tinput">
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="Respected">Respected</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="GivesHomework">Gives Homework</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="AccessibleOutsideClass">Accessible Outside Class</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="ParticipationMatters">Participation Matters</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="CanSkipClassEasily">Can Skip Class Easily</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="Fluttershy">Fluttershy</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="Inspirational">Inspirational</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="TestHeavy">Test Heavy</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="GroupProjects">Group Projects</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="ClearGradingCriteria">Clear Grading Criteria</div>>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="Hilarious">Hilarious</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="BewareOfPopQuizzers">Beware Of Pop Quizzers</div>>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="AmazingLectures">Amazing Lectures</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="LectureHeavy">Lecture Heavy</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="Caring">Caring</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="ExtraCredit">Extra Credit</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="ToughGrader">Tough Grader</div>
          <div class="tagscheckbox"><input type="checkbox" name="tags" value="HaveToWriteNotes">Have to write notes</div>
        </div>
      </div>

      <div class="fieldform">
        <div class="tlabel">
          <label for="suggest">Will you suggest others</label>
        </div>
        <div class="tinput">
          <input type="radio" name="suggest" value="yes"> Yes
          <input type="radio" name="suggest" value="no"> No
        </div>
      </div>

      <div class="fieldform">
        <div class="tlabel">
          <label for="suggestions">Any Suggestions</label>
        </div>
        <div class="tinput">
          <textarea class="ta" name="suggestions" required> Tell something to your Guru!!</textarea>
        </div>
      </div>

      <div class="fieldform">
        <div class="tinput">
          <input type="submit">
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}